# 1
`d = {'x': 10, 'y': 20, 'z': 30} `
1. Print what value y has
2. Print all the keys
3. Write a Python program to iterate over the dictionary using for loops, print every value.
4. Add 5 to very value in the dictonary
5. Can you use a dictionary comprehesion for above mentioned question?
6. Write a Python program to sum all the values in the dictionary.

In [1]:
d = {'x': 10, 'y': 20, 'z': 30}
d['y']

20

In [2]:
print(d.keys())

dict_keys(['x', 'y', 'z'])

In [5]:
for key, value in d.items():
    print(value)

10
20
30

In [6]:
for key, value in d.items():
    value += 5
    print(value)

15
25
35

In [7]:
{key: value+5 for key, value in d.items()}

{'x': 15, 'y': 25, 'z': 35}

In [8]:
sum(d.values())

60

# 2
1. How many unique cities does the dataset contain?
2. How many rows and columns does the dataset have?
3. How many unique cities does the dataframe contain?

In [9]:
# import libary
import pandas as pd

## Uncomment below to check current path
# import os
# os.getcwd()

In [10]:
# read the data
path = 'Coronavirusdataset/Case.csv'
df = pd.read_csv(path)

In [11]:
df.head(1)

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Guro-gu,True,Guro-gu Call Center,98,37.508163,126.884387

In [12]:
len(df.city.unique())

34

In [13]:
print(f"dataset has {df.shape[0]} rows and {df.shape[1]} columns")

dataset has 112 rows and 8 columns

In [14]:
# create dataframe that contains only cities from Seoul province
seoul_df = df[df.province == "Seoul"]

#calculate how many unique cities this dataframe contains
len(seoul_df.city.unique())

8

# 3
1. Prove the dataframe has no missing values
2. What percentage of the dataframe has information about a case in Seoul?
3. How many confirmed cases is Seoul?

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   case_id         112 non-null    int64
 1   province        112 non-null    object
 2   city            112 non-null    object
 3   group           112 non-null    bool
 4   infection_case  112 non-null    object
 5   confirmed       112 non-null    int64
 6   latitude        112 non-null    object
 7   longitude       112 non-null    object
dtypes: bool(1), int64(2), object(5)
memory usage: 6.4+ KB

In [16]:
df.isnull().sum()

case_id           0
province          0
city              0
group             0
infection_case    0
confirmed         0
latitude          0
longitude         0
dtype: int64

In [17]:
df.province.value_counts(1)

Gyeongsangbuk-do     0.107143
Seoul                0.098214
Gyeongsangnam-do     0.089286
Gyeonggi-do          0.080357
Daegu                0.080357
Busan                0.080357
Sejong               0.053571
Daejeon              0.053571
Gangwon-do           0.053571
Jeollanam-do         0.044643
Chungcheongbuk-do    0.044643
Chungcheongnam-do    0.044643
Incheon              0.044643
Ulsan                0.035714
Gwangju              0.035714
Jeju-do              0.026786
Jeollabuk-do         0.026786
Name: province, dtype: float64

In [18]:
df[df.province == "Seoul"].confirmed.sum()

565