# 1
`d = {'x': 10, 'y': 20, 'z': 30} `
1. Print what value y has
2. Print all the keys
3. Write a Python program to iterate over the dictionary using for loops, print every value.
4. Add 5 to each value in the dictonary
5. Can you use a dictionary comprehesion for above mentioned question?
6. Write a Python program to sum all the values in the dictionary.

In [3]:
d = {'x': 10, 'y': 20, 'z': 30}

20

In [4]:
print(d['y'])

20

In [5]:
print(d.keys())

dict_keys(['x', 'y', 'z'])

In [11]:
for key,value in d.items():
    print(key + ': ' + str(value))

x: 10
y: 20
z: 30

In [22]:
dict_plus_five = {}

for key, value in d.items():
    dict_plus_five.update({key: (value+5)})
    
print(dict_plus_five)

{'x': 15, 'y': 25, 'z': 35}

In [33]:
def sum_values(dic):
    list_values = dic.values()
    result = sum(list_values)
    print(result)

In [34]:
sum_values(d)

60

# 2
1. How many unique cities does the dataset contain?
2. How many rows and columns does the dataset have?
3. How many unique cities does the dataframe contain?

In [2]:
import sys
!conda install --yes --prefix {sys.prefix} pandas

DirectoryNotACondaEnvironmentError: The target directory exists, but it is not a conda environment.
Use 'conda create' to convert the directory to a conda environment.
  target directory: /Users/vivian/.pyenv/versions/3.8.2/envs/tools3

In [2]:
import pandas as pd
# read the data and store it in df variable
path = 'data/coronavirusdataset/Case.csv'
df = pd.read_csv(path)

In [5]:
len(df['city'].unique())

34

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   case_id         112 non-null    int64
 1   province        112 non-null    object
 2   city            112 non-null    object
 3   group           112 non-null    bool
 4   infection_case  112 non-null    object
 5   confirmed       112 non-null    int64
 6   latitude        112 non-null    object
 7   longitude       112 non-null    object
dtypes: bool(1), int64(2), object(5)
memory usage: 6.4+ KB

# 3
1. Prove the dataframe has no missing values
2. What percentage of the dataframe has information about a case in Seoul?
3. How many confirmed cases in Seoul?

In [13]:
seoul_cases = df[df['province'] == 'Seoul']
seoul_cases

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Guro-gu,True,Guro-gu Call Center,98,37.508163,126.884387
1,1000002,Seoul,Dongdaemun-gu,True,Dongan Church,20,37.592888,127.056766
2,1000003,Seoul,Guro-gu,True,Manmin Central Church,41,37.481059,126.894343
3,1000004,Seoul,Eunpyeong-gu,True,Eunpyeong St. Mary's Hospital,14,37.63369,126.9165
4,1000005,Seoul,Seongdong-gu,True,Seongdong-gu APT,13,37.55713,127.0403
5,1000006,Seoul,Jongno-gu,True,Jongno Community Center,10,37.57681,127.006
6,1000007,Seoul,Jung-gu,True,Jung-gu Fashion Company,7,37.562405,126.984377
7,1000008,Seoul,from other city,True,Shincheonji Church,8,-,-
8,1000009,Seoul,-,False,overseas inflow,313,-,-
9,1000010,Seoul,-,False,contact with patient,18,-,-
10,1000011,Seoul,-,False,etc,23,-,-

In [16]:
len(seoul_cases['province'])/len(df['province'])*100

9.821428571428571

In [17]:
seoul_cases['confirmed'].sum()

565